body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}
h2 {
    text-align: center;
}

.container {
    /*display: none;*/
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    
    
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="password"] {
    width: 70%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 0.4s;
}

input[type="submit"]:hover {
    background-color: #ff0000;
}
button {
    width: 50%;
    padding: 10px;
    background-color: #000000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 0.4s;
}
button:hover {
    padding: 10px;
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#logoutButton{width: 5%;}

li {
    text-align: center;
}

#message {
    margin-top: 5%;
    color: red;
    text-align: center;
    font-size: large;
}

#footer{
    background-color: #000000;
    color: #fff;
    max-width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: .5%;
}


