#next{
    background-color: #000000;
    color: #fff;
    transition-duration: 0.4s;
    padding: auto;
    float: inline-end;
}

#next:hover{background-color: #ff0000;}

.container{display: none;}

#prev{
    background-color: #000000;
    color: #fff;
    padding: auto;
    transition-duration: 0.4s;
}

#prev:hover{background-color: #ff0000;}

.fileLabel{
    width: auto;
}
.buttonStyle{
    width: auto;
    top: 10px;
    position: relative;
    left: 40%;
}

#featuredCourses, #enrolledCourses{ display: block;}

a:hover{color: goldenrod;}

.prevP{width: auto;}

.quizzButton{
    width: auto;
    top: 10px;
    position: relative;
    left: 40%;
}

.finish{
    width: auto;
    top: auto;
    float: inline-end;
}